{% extends 'base.html.twig' %}

{% block body %}
    <div>
       <a href="{{ path('todoList') }}"><- back</a>
    </div>
    <p>
       Description: {{ itemData.description }}
    </p>
    <p>
       Due date: {{ itemData.dueDate | date('d.m.Y') }}
    </p>
    <p>
       Completed: {{ itemData.isDone }}
    </p>

    <div>
        {{ form_start(editForm) }}
        {{ form_widget(editForm) }}
        {{ form_end(editForm) }}
    </div>
{% endblock %}